// A mission to help <br/>veterans and their families
color: #2D2E3D;
 font-size: 40px;
 font-family: Raleway;
 font-weight: 700;
 line-height: 55px;
 letter-spacing: 2px;
 word-wrap: break-word
---
// The transition home can be hard, but it doesn’t have to be done alone. 
color: #2F2F31;
 font-size: 20px;
 font-family: Raleway;
 font-weight: 500;
 line-height: 40px;
 letter-spacing: 0.60px;
 word-wrap: break-word
---
// I’m looking for help
color: #222540;
 font-size: 32px;
 font-family: Raleway;
 font-weight: 500;
 line-height: 40px;
 letter-spacing: 0.96px;
 word-wrap: break-word
---
// We are here to assist you by providing support groups, career help, photography classes, gardening groups, and health and wellness groups. Explore all our programs and find the right one for you. 
color: #222540;
 font-size: 20px;
 font-family: Raleway;
 font-weight: 500;
 line-height: 40px;
 letter-spacing: 0.60px;
 word-wrap: break-word
---
// Get Assistance
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 600;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// I want to help
color: #222540;
 font-size: 32px;
 font-family: Raleway;
 font-weight: 500;
 line-height: 40px;
 letter-spacing: 0.96px;
 word-wrap: break-word
---
// We have many ways you can help: financially supporting us, becoming a director of the board, donating camera equipment, and volunteering for events and groups.
color: #222540;
 font-size: 20px;
 font-family: Raleway;
 font-weight: 500;
 line-height: 40px;
 letter-spacing: 0.60px;
 word-wrap: break-word
---
// Get involved
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 600;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// Our Mission
color: #222540;
 font-size: 32px;
 font-family: Raleway;
 font-weight: 500;
 line-height: 40px;
 letter-spacing: 0.96px;
 word-wrap: break-word
---
// Our Vision
color: rgba(34, 37, 64, 0.75);
 font-size: 32px;
 font-family: Raleway;
 font-weight: 500;
 line-height: 40px;
 letter-spacing: 0.96px;
 word-wrap: break-word
---
// We help our service members and their families transition from the uniform to new professional and personal lives by changing the veteran transition landscape.
color: #222540;
 font-size: 20px;
 font-family: Raleway;
 font-weight: 600;
 line-height: 35px;
 letter-spacing: 0.60px;
 word-wrap: break-word
---
// Learn More
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 600;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// Recent News
color: #222540;
 font-size: 32px;
 font-family: Raleway;
 font-weight: 500;
 line-height: 40px;
 letter-spacing: 0.96px;
 word-wrap: break-word
---
// Lorem Ipsum
color: #074264;
 font-size: 24px;
 font-family: Raleway;
 font-weight: 700;
 word-wrap: break-word
---
// June 13th, 2022
color: #65101C;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 400;
 line-height: 25px;
 letter-spacing: 0.48px;
 word-wrap: break-word
---
// James Berg
color: #65101C;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 400;
 line-height: 25px;
 letter-spacing: 0.48px;
 word-wrap: break-word
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. eiusmod tempor incididunt ut labore et dolore magna aliqua. <br/>
color: #1E1F29;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 line-height: 30px;
 letter-spacing: 0.48px;
 word-wrap: break-word
---
// Read More
color: #074264;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 text-decoration: underline;
 line-height: 30px;
 letter-spacing: 0.48px;
 word-wrap: break-word
---
//  
color: #1E1F29;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 line-height: 30px;
 letter-spacing: 0.48px;
 word-wrap: break-word
---
// Lorem Ipsum
color: #074264;
 font-size: 24px;
 font-family: Raleway;
 font-weight: 700;
 word-wrap: break-word
---
// June 13th, 2022
color: #65101C;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 400;
 line-height: 25px;
 letter-spacing: 0.48px;
 word-wrap: break-word
---
// James Berg
color: #65101C;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 400;
 line-height: 25px;
 letter-spacing: 0.48px;
 word-wrap: break-word
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ut labore et dolore magna aliqua. eiusmod tempor incididunt ut labore et dolore   <br/>
color: #1E1F29;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 line-height: 30px;
 letter-spacing: 0.48px;
 word-wrap: break-word
---
// Read More
color: #074264;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 text-decoration: underline;
 line-height: 30px;
 letter-spacing: 0.48px;
 word-wrap: break-word
---
//  
color: #1E1F29;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 line-height: 30px;
 letter-spacing: 0.48px;
 word-wrap: break-word
---
// Lorem Ipusm
color: #074264;
 font-size: 24px;
 font-family: Raleway;
 font-weight: 700;
 word-wrap: break-word
---
// June 13th, 2022
color: #65101C;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 400;
 line-height: 25px;
 letter-spacing: 0.48px;
 word-wrap: break-word
---
// James Berg
color: #65101C;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 400;
 line-height: 25px;
 letter-spacing: 0.48px;
 word-wrap: break-word
---
// Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna ut labore et dolore magna aliqua. eiusmod tempor incididunt ut labore et dolore<br/>
color: #1E1F29;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 line-height: 30px;
 letter-spacing: 0.48px;
 word-wrap: break-word
---
// Read More
color: #074264;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 text-decoration: underline;
 line-height: 30px;
 letter-spacing: 0.48px;
 word-wrap: break-word
---
//  
color: #1E1F29;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 line-height: 30px;
 letter-spacing: 0.48px;
 word-wrap: break-word
---
// Programs
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Bridge-Reset
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// Bridge-Rebuild
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// Build-Refocus
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// Build-ReEngage 
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// Bridge-RePlant
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// Get Involved
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Board of Directors
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// Become a Volunteer
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// Financial Support
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// Camera and field equipment donation
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// 2024 Operation Meraki
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// Privacy Policy
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// Terms of Use
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// Contact Us
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// About Us
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// Subscribe Now
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Raleway;
 font-weight: 600;
 word-wrap: break-word
---
// Stay informed on what we’re doing and opportunities. 
color: rgba(254, 254, 254, 1);
 font-size: 18px;
 font-family: Raleway;
 font-weight: 400;
 word-wrap: break-word
---
// (Enter Email)
color: #726E66;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 500;
 word-wrap: break-word
---
// Submit
color: rgba(254, 254, 254, 1);
 font-size: 16px;
 font-family: Inter;
 font-weight: 500;
 letter-spacing: 0.48px;
 word-wrap: break-word
---
// Home
color: #074264;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 600;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// Programs
color: #074264;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 600;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// Get Involved
color: #074264;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 600;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// Events
color: #074264;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 600;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// News
color: #074264;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 600;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// Contact
color: #074264;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 600;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// About Us
color: #074264;
 font-size: 16px;
 font-family: Raleway;
 font-weight: 600;
 letter-spacing: 0.80px;
 word-wrap: break-word
---
// Donate
color: rgba(254, 254, 254, 1);
 font-size: 18px;
 font-family: Raleway;
 font-weight: 700;
 line-height: 40px;
 letter-spacing: 0.72px;
 word-wrap: break-word