form legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 3%;
  color: var(--color-primary-500);
  margin-bottom: 24px;
}

form .group {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 24px;
  margin-bottom: 48px;
}

form .label {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: var(--color-primary-500);
  display: block;
  margin-bottom: 4px;
}

form .require-mark {
  font-weight: 700;
  font-size: 32px;
  color: #B22035;
}

form .input {
  width: 209px;
  height: 34px;
  border-radius: 8px;
  border: 1.5px solid #D9D9D9;
  padding-left: 8px;
}

form textarea {
  padding: 16px;
}

form .radio-group {
  display: flex;
  justify-content: space-between
}

form .radio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form .radio input {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 2px solid #D9D9D9;
  display: grid;
  place-content: center;
  cursor: pointer;
}

form .radio input::before {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 4px;
  opacity: 0;
  background-color: var(--color-primary-500);
}

form .radio input:checked:before {
  opacity: 1;
}

form .radio-group-scale {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

form .actions {
  display: flex;
  justify-content: end;
  gap: 12px;
}

form textarea {
  width: 100% !important;
  min-height: 128px;
}

form .checkbox-item {
  width: 232px;
  height: 25px;
  display: flex;
}

form .checkbox-item.block {
  width: 100%;
}

form .checkbox-item .label {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 3%;
  margin-left: 12px;
}

form .checkbox-item input {
  flex: 0 0 auto;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 2px solid #D9D9D9;
  display: grid;
  place-content: center;
  cursor: pointer;
}

form .checkbox-item input::before {
  content: ' ';
  width: 12px;
  height: 12px;
  border-radius: 4px;
  opacity: 0;
  background-color: var(--color-primary-500);
}

form .checkbox-item input:checked:before {
  opacity: 1;
}

.signed-up {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.signed-up .hero {
  width: 468px;
  height: 278px;
}

.signed-up .title {
  margin-top: 64px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 5%;
  text-align: center;
  color: var(--color-primary-500);
}

.signed-up .seperator {
  height: 3px;
  width: 450px;
  background-color: #D9D9D9;
  margin-top: 24px;
  margin-bottom: 24px;
}

.signed-up .description {
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  letter-spacing: 5%;
  text-align: center;
  color: var(--color-primary-500);
  width: 398px;
}
